/* @tailwind base;
@tailwind components;
@tailwind utilities; */




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Customised CSS */

.Header{
    margin: 10px 0px 0px 10px;
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    border-radius: 6px;
}

.logo-container img{
    height: 80px;
    width: 80px;
}

.nav-item{
    display: flex;
    padding: 5px;
    /* flex-direction: row-reverse; */

}
.nav-list{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
}
.nav-inside-item{
    margin: 5px;
    
}
.margin-left{
    margin-right: 50Px;
}
.logo-container{
    margin: 5px;
    /* border: 3px solid black; */
}

.res-card{
    /* display: flex; */
    margin: 5px;
    /* height: 250px; */
    width: 220px;
    background-color: beige;
    border-style: solid;
    border-color: red;
}
.details{
    margin: 5px;
}
.res-card img{
    height: 150px;
    width: 220px;
    border-radius: 10px;
}
.res-container{
    margin: 0px 0px 5px 4%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}
.search{
    margin: 5px 0px 5px 20px;
}
.filter_btn{
    margin: 10px;
    cursor: pointer;
}

.res-container-shimmer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between shimmer cards */
    padding: 20px;
    margin: 0 0 0 50px;
  }
  
  .shimmer-cards {
    width: 250px;
    height: 300px;
    background: linear-gradient(-45deg, #f0f0f0 0%, #e0e0e0 50%, #f0f0f0 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 8px;
  }

  
  @keyframes shimmer {
    100% {
      background-position: -200% 0;
    }
    0% {
      background-position: 200% 0;
    }
  }

.Login-btn{
     padding: 0 -110px 0 0;
     /* height: 25px; */
     
  }